source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0, net9.0

nuget coverlet.collector
nuget Fargo.Cmdline
nuget FSharp.Compiler.Service
nuget Iced
nuget ICSharpCode.Decompiler
nuget Microsoft.Diagnostics.Runtime
nuget Microsoft.NET.Test.Sdk
nuget System.Runtime.InteropServices.RuntimeInformation
nuget xunit
nuget xunit.runner.visualstudio